body {
    margin: 0px;
    padding: 0px;
    /* background: blue; */
}

.container {
    /* display: flex; */
    width: 100%;
    height: 100%;
}

.header {
    background-color: brown;
    margin: 0px;
    width: 100%;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
}

.title-header {
    /* flex-flow: row; */
    justify-content: center;
    align-items: center;
    width: 100%;
}

h3 {
    font-size: 2em;
}

.sudheader {
    /* flex-flow: row; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* background: white; */
    /* width: 90%; */
}

.sudheader div {
    margin: 10px;
    background-color: black;
    padding: 15px;
    border-radius: 5px;
}

a {
    text-decoration: none;
    color: white;
}

.section-container {
    /* width: 100%; */
    display: flex;
    height: 60vh;
    background-color: cornsilk;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    /* align-content: center; */
}

.section-article {
    display: flex;
    /* background-color: cornflowerblue; */
    width: 85%;
}

.articles1 {
    flex-flow: row;
    background-color: darkslategray;
    width: 80%;
    padding: 60px;
    align-items: center;
    justify-content: center;
    margin: 20px;
    border-radius: 10px;
    color: white;
    box-shadow: 5px 10px 2px black;
}

.articles2 {
    flex-flow: column;
    background-color: darkcyan;
    width: 20%;
    padding: 20px;
}